@model IEnumerable<EventPlatformAPI.Web.ViewModels.EventTypes.EventTypeViewModel>

@{
    ViewData["Title"] = "Tipovi događaja";
}

<h1>Tipovi doga?aja</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novi tip</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Opis</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Izmeni</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
